<?xml version="1.0"?>
<!--
run.launch: this file does no more than calling other file
Author: Ravi Joshi
Date: 2019/11/23
-->
<launch>
  <!-- supported camera (so far it can only be either realsense or kinect) -->
  <arg name="camera" default="realsense"/>
  <include file="$(find ros_openpose)/launch/run_$(arg camera).launch"/>
</launch>
